[submodule "libs/cache_client"]
	path = libs/cache_client
	url = git@github.com:dwilson2547/cache_client.git
[submodule "services/cache_browser"]
	path = services/cache_browser
	url = git@github.com:dwilson2547/cache_browser.git
[submodule "services/filecache"]
	path = services/filecache
	url = git@github.com:dwilson2547/filecache.git
[submodule "services/request_authorization"]
	path = services/request_authorization
	url = git@github.com:dwilson2547/request_authorization.git
[submodule "services/vidcache"]
	path = services/vidcache
	url = git@github.com:dwilson2547/vidcache.git
[submodule "services/imgcache"]
	path = services/imgcache
	url = git@github.com:dwilson2547/imgcache.git
[submodule "services/webcache"]
	path = services/webcache
	url = git@github.com:dwilson2547/webcache.git
[submodule "tools/http-test-service"]
	path = tools/http-test-service
	url = git@github.com:dwilson2547/http-test-service.git
